.header {
    background-image: url(../image/foon.png);
    min-height: 918px;
    width: 100%;
    display: block;
    overflow: hidden;
    background-repeat: no-repeat;
}

@media (min-width: 1600px) {
    .header {
        background-image: url(../image/fon2k.png);
        background-repeat: no-repeat;
        min-height: 800px;
        width: 100%;
    }
}

.logotype {
    margin: 35px 0 0 2.9%;
    border-radius: 20px;
    height: auto;
    float: left;
}

.name-web {
    margin: 55px 0 0 1%;
    float: left;
    font-size: 125%;
    font-family: "Proxima Nova";
    color: rgb(41, 41, 41);
    font-weight: bold;
    line-height: 1.6;
}

.contact-support {
    font-size: 100%;
    font-family: "Proxima Nova";
    color: rgb(41, 41, 41);
    line-height: 2;
    float: right;
    margin: 55px 3% 0 0;
}

.h-name {
    font-size: 250%;
    font-family: "Proxima Nova";
    color: rgb(41, 41, 41);
    line-height: 1;
    /* margin: 115px 0 1.1%;*/
    width: 100%;
    text-align: center;
}

.low-name {
    font-size: 100%;
    font-family: "Myriad Pro";
    color: rgb(244, 92, 7);
    text-transform: uppercase;
    line-height: 1.508;
    width: 100%;
    text-align: center;
}

.name-of_page {
    width: 100%;
    height: auto;
    /*border: 1px solid black;*/
    display: block;
    margin: auto;
}

.clear {
    clear: both;
}

.fruit {
    margin: 40px 0 0 0;
}

.block-join {
    width: 350px;
    background-color: rgba(255, 255, 255, 0.75);
    display: block;
    margin: 40px auto;
}

.h-join {
    font-size: 20px;
    font-family: "ProximaNova";
    color: rgb(3, 138, 122);
    line-height: 0.619;
    padding-top: 15px;
    text-align: center;
}

@media (min-width:1600px) {
    .block-join {
        width: 500px
    }
}

.text-join {
    font-size: 100%;
    font-family: "ProximaNova";
    color: black;
    line-height: 2;
    text-align: center;
}



.form-group {
    margin-top: 25px;
}

.form-group {
    margin-top: 20px;
}





.existing {
    font-size: 14px;
    font-family: "Proxima Nova";
    color: rgb(34, 34, 34);
    text-decoration: underline;
    line-height: 1.429;
    text-align: center;
    float: left;
    margin-top: -26px;
}

.btn-signup {
    min-width: 175px;
    height: 40px;
    float: right;
    margin-top: 10px;
}

.signup {
    margin-top: 20px;
}

.foot {
    text-align: justify;
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 14px;
    font-family: "Proxima Nova";
    color: rgb(163, 163, 163);
    line-height: 1.643;
}

.sumb-mail {
    top: -53px;
    left: 10px;
    width: 100%;
    position: relative;
    border: none;
    z-index: 24;
}

.Rectangle-1 {
    background-color: #056572;
    margin: 0;
    min-height: 60px;
    line-height: 50px;
}

.react-text {
    padding: 0;
    font-size: 125%;
    font-family: "Proxima Nova";
    color: rgb(255, 255, 255);
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.Rectangle-2 {
    background-color: #f45c07;
    margin: 0;
    min-height: 60px;
    line-height: 50px;
}

.Rectangle-3 {
    background-color: #038a7a;
    margin: 0;
    /*line-height: 60px;*/
    min-height: 60px;
    padding: 8px 0 0 19px
}

.footer-head {
    margin-top: -35px;
    display: table;
}

.icon {
    position: relative;
    left: -15px;
}

.h-trial {
    margin-top: 110px;
    text-align: center;
}

.lef-pack {
    margin-top: 80px;
}

.text-pack {
    font-size: 125%;
    font-family: "Proxima Nova";
    color: rgba(0, 0, 0, 0.502);
    line-height: 1.778;
    text-align: left;
}

.h-pack_2 {
    font-family: "Proxima Nova";
    color: rgb(41, 41, 41);
    line-height: 2;
    text-align: left;
}

.h-pack {
    font-family: "Proxima Nova";
    color: rgb(244, 92, 7);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2;
    text-align: left;
}

.trial-food {
    padding: 0;
    margin-top: 10px;
    float: left;
}

.learn-more {}

.btn-trial {
    border: 1px solid #267a85;
    border-radius: 25px;
    margin-top: 5px;
}

.trial-sign {
    margin-top: 5%;
}

.right-pack {
    margin-top: 80px;
}

.h-do_best {
    margin-top: 100px;
    text-align: center;
}

.health {
    font-family: "Proxima Nova";
    color: rgb(41, 41, 41);
    line-height: 2;
    text-align: center;
}

.text-what_do {
    font-size: 125%;
    font-family: "Proxima Nova";
    color: rgb(163, 163, 163);
    line-height: 1.5;
    text-align: center;
    margin-top: 40px;
}

.h-do {
    text-align: center;
    margin-top: 40px;
}

.first-bar {
    margin-top: 50px;
}

.second-bar {
    margin-top: 50px;
}

.third-bar {
    margin-top: 50px;
}

.footer-opt {
    background-color: #056572;
    text-align: center;
}

.h-footer {
    padding-top: 10px;
    font-family: "Proxima Nova";
    color: rgb(255, 255, 255);
    line-height: 1;
    text-align: center;
}


/*@media (max-width:)*/

.text-footer {
    font-size: 100%;
    font-family: "Proxima Nova";
    color: rgb(255, 255, 255);
    line-height: 1;
    text-align: center;
}

.waht-we_do {
    margin-bottom: 125px;
}

.contact-to_supps {
    text-decoration: none;
    color: rgb(41, 41, 41);
}

.arrow-btn {
    background-image: url(../image/arrow.png);
    height: 13px;
    width: 15px;
    display: inline-block;
    margin: -5px 0 -3px 10px;
}

.heart-img {
    display: block;
    margin: auto;
}

.heart {
    margin-left: -3%;
}

.leaf-bar {
    margin-left: 4.7%;
}

.link-foot {
    background-color: #fff;
    border-radius: 40px;
    /*min-width: 150px;*/
    height: 30px;
    display: inline-block;
    text-align: center;
    margin: auto;
    line-height: 30px;
    padding: 0 20px;
    margin-bottom: 20px;
}

.leaf {
    position: relative;
    top: 0;
    left: -7x;
    display: inline-block;
}

@media (max-width:767px) {
    .fruit-food {
        display: none;
    }
    .block-join {
        display: block;
        margin: auto;
    }
    .h-trial {
        margin-top: 200px;
    }
}
@media (max-width:990px) {
    .h-trial {
        margin-top: 200px;
    }
}

@media (max-width:375px) {
    .h-name {
        font-size: 150%;
        margin-top: 20px;
    }
    .low-name {
        font-size: 75%;
    }
    .logotype {
        margin: 35px 0 0 6%;
        border-radius: 20px;
        height: auto;
        float: left;
    }
    .contact-support {
        margin: 55px 6% 0 0;
    }
    .header {
        min-height: 750px
    }
}

.container-bg {
    background-image: url(../image/areaEmail.png);
    background-repeat: no-repeat;
    z-index: 1;s
    background-color: white;
}

.table-wrap {
    display: table;
}
.mail-subit {
    border: none;
}

.pass-subit {
    border: none;
    box-shadow: none;
}
